h4,h5,p
{
    font-size: medium;
    color:  black;
}
div p:hover{
    background-color: lightseagreen;
}
.LADY 
{
    color:orangered;
}
.HESTER
{
    color: mediumorchid;
}
.SIR 
{
    color:green;
}
.HESTER
{
    color:blueviolet;
}
table,th,td
{
    border: 2px solid black;
    color:brown;
}
td{
    text-align: center;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  span h5:hover{
      text-shadow: 2px 2px;
      border: darkgoldenrod;
      
      
  }